<%- include('./partials/header.ejs')%>
	<main>
       <h2>About</h2><br>
		<p>This website is used to list Photography connections local to the Charlotte area.</p><br>
		<p>It provides photographers with good networking oportunites and resources with the goal to help build up the Photography community.</p><br>
		<p>Currently we have over 8,000 members and are still growing at an unbelievably high rate.</p><br>
		<p>Join us and become part of the family.</p><br>
	</main>

	<!--
		Creates Footer
	-->
    <%- include('./partials/footer.ejs')%>
