<%- include('./partials/header.ejs')%>
	<main>
		<h2>Contact:</h2><br>
        <p>This website is hosted by Justin Leiner. My Contact info is here below:</p>
		<ul>
			<li>Email: jleiner1@uncc.edu</li>
			<li>Phone: 704-243-4744</li>
			<li>Instagram: Justin.l2023</li>
		</ul>

	</main>

	<!--
		Creates Footer
	-->
    <%- include('./partials/footer.ejs')%>
