<%- include('./partials/header.ejs')%>

<!--
    Creates Introduction
-->

	<main>
        <h2>Welcome to Justin Leiner's Photography Connection site!</h2>
        <br>
        <p>
        Attend and create events to connect with fellow Photagraphers in the Charlotte community. 
        </p>
        <br>
        <p>
        We offer several convient conenctions that help Photgraphers get the technical know how and experience needed to perform at a professional level.   
        </p>

	</main>

	<!--
		Creates Footer
	-->
    <%- include('./partials/footer.ejs')%>
