<footer>

	<nav class="main-footer">
	   
		<a href="" >Copyright @ Justin Leiner</a> 
		<a href="/about" >About</a>  
		<a href="/contact" >Contact</a>  
		<a href="https://www.instagram.com/justin.l2023/">Instagram</a> 
	</nav>

</footer>
    
</body>

</html>